article{
  display: flex;
}

header{

}

div{
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background-color: #00779e;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #ffaa00;
  font-weight: bold;
}
