div a{
  margin: 1%;
  padding: 1%;
  display: flex;
  color: #e3e3e3;
}

div{
  padding: 0px;
  font-size: 100%;
  background-color: #003d5b;
}

h2{
  margin: auto;
  margin-left: 5px;
  margin-right: 5px;
  padding:0;
}

div:hover{
  background-color: #b4b8ab;
}

p{
  font-size: 100%;
}

a:hover{
  color:#292929;
}
