container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(0px, auto);
}

container a{
  display: flex;
}

div{
  border-radius: 0% 8% 8% 0%;
  padding: 7px;
  font-size: 120%;
}

div:hover{
  font-size: 130%;
  font-weight: bold;
  background-color: #4a4a4a;
}

a:hover{
  color:white;
}
