container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  grid-row-gap: 60px;
  grid-auto-rows: minmax(0px, auto);
}

container a{
  display: flex;
  color: #e3e3e3;
}

article{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div{
  border-radius: 0% 8% 8% 0%;
  padding: 0px;
  font-size: 100%;
  background-color: #003d5b;
}

h2{
  margin: 0;
  padding:0;
}

div:hover{
  background-color: #b4b8ab;
}

p{
  font-size: 100%;
}

a:hover{
  color:#292929;
}
