p{
  margin: 10px;
}

h1,h2{
  margin-bottom: 0px;
  margin-top: 0px;
}

h2 a, p a{
  color: #e3e3e3;
}

h2 a:hover, p a:hover{
  color: #d1495b;
}

container{
  display: flex;
  justify-content: space-between;
}

container p{
  font-size: 85%;
  font-style: italic;
}

container+p{
  margin-top: 3%;
}

div+ div{
  background-color: #b4b8ab;
  color : #292929;
  margin: 7%;
}

div li{
  display: flex;
  justify-content:space-between;
  float: none;
}

div article{
  display: flex;
  flex-direction: column;
}

header + div{
  background-color: #003d5b;
  display: flex;
}
