  <header>
    <nav>
      <ul>
          <li><a href="accueil.view.php">Accueil</a></li>
          <li><a href="magasin.view.php">Magasin</a></li>
          <li><a href="mangasTri.view.php?cat=Shonen">Shonen</a></li>
          <li><a href="mangasTri.view.php?cat=Seinen">Seinen</a></li>
          <li><a href="mangasTri.view.php?cat=Light Novel">Light Novel</a></li>
          <li><a href="mangasTri.view.php?cat=Kodomo">Kodomo</a></li>
      </ul>
      <form class="" action="mangasTri.view.php" method="get">
        <input type="text" name="search" placeholder="Chercher un titre...">
      </form>
    </nav>
  </header>
